body { background-color: #FFFFFF; 
       color: #000000; 
       font-family: Arial, sans-serif; 
       margin: 0; 
}

h1 { color: #006633;
     font-family: Georgia, serif; 
     font-size: 24pt;
     border-radius: 20px;
     -moz-border-radius: 20px;
     webkit-border-radius: 20px
     position relatived; 
}

h2 { color: #000066;
}

h3 { color: #000066; 
     text-align: center; 
}

#date { text-align: right; 
        padding-right: 10px; 
}

#container { background-color: #FFFFFF; 
}

#nav { display: none;
}

#nav ul { list-style-type: none;  
          margin: 0; 
          font-weight: bold; 
          padding-top: 20px; 
          padding-right: 5px; 
          padding-bottom: 5px; 
          padding-left: 35px; 
}

#nav a { text-decoration: none; 
}

#nav a:link { color: #3333FF; 
}

#nav a:visited { color: #9900CC;
}

#nav a:hover { color: #FFFF99; 
}

#sidebar { background-color: #FFFFFF; 
           float: right; 
           width: 25%;  
}

#sidebar h3 { color: #3333FF; 

              background-color: #FFFFFF; 
              font-size: 11pt; 
              text-align: left; 
              border-bottom: 1px solid #000000; 
              margin: 10px; 
              padding-bottom: 2px; 
}

#sidebar a:after { content: " (" attr(href) ") "; 
                   color:#000000; 
                   font-size: 8pt; 
}

.news { font-size: 10pt; 
        margin: 10px; 
}


.new { color: #FF0000; 
}

#content { font-size: 12pt; 
           margin: 0 25% 0 0; 
           padding: 1px 10px 20px 10px; 
}

#content a:after { content: " (" attr(href) ") "; 
                   color:#000000; 
                   font-size: 8pt; 
}

.name { color: #000000; 
        font-size: 14pt; 
}

#content img { float: left; 
               padding-right: 20px;
}

.clearleft { clear: left; 
}

.centerbutton { text-align: center; 
}

#content ul { list-style-position: inside; 
}

#footer { font-size: .70em; 
          font-style: italic; 
          text-align: center; 
          padding: 10px; 
}

table { border: 1px solid #009878; 
        border-spacing: 0; 
        margin: auto; 
        font-size: .90em; 
        width:95%; 
}

td, th { border: 1px solid #009878; 
         padding: 5px; 
}

td { text-align: center; 
}

.text { text-align: left; 
}

tr:nth-of-type(even) { background-color: #FFFFFF; 
}

fieldset { border: 2px ridge #006633; 
           padding: 10px; 
           margin-bottom: 20px; 
           background-color: #FFFFFF; 
}

fieldset input { margin-bottom: 20px; 
                 display: block;
                 width: 300px;
}

legend { font-weight: bold; 
}

label { float: left; 
        display: block; 
        text-align: right; 
        width: 200px; 
        padding-right: 10px; 
}

/* input { margin-bottom: 20px; 
        display: block; 
} */

textarea { margin-bottom: 20px; 
           display: block; 
           margin-left: 225px; 
           padding-right: 10px; 
}

#mySubmit { margin-left: 225px; 
}
